@model EcoTrend_Industry_Project.ViewModels.SupplierEmailVM

@{
    ViewBag.Title = "Flyer Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Flyer Details</h2>
<hr />

<div class="col-md-8">
    <div id="emailDetails">
        @using (Html.BeginForm("FlyerDetails", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <div class="form-group">
                <label class="col-md-2 control-label">Subject</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" name="subject" value="@Model.subject" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Message</label>
                <div class="col-md-8">
                    <textarea class="form-control" name="body" style="height: 400px;">@Model.body</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-8">
                    <input type="submit" class="btn btn-primary" value="Edit Changes" />
                </div>
            </div>
            <input type="hidden" name="emailId" value="@Model.emailID" />
        }
    </div>
</div>
<div class="col-md-8">
    <div class="pull-right">
        @Html.ActionLink("Next", "ChooseContacts", "Admin", new { emailId = Model.emailID }, new { @class = "btn btn-primary" })
    </div>

</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Success!</strong>
            </div>
            <div class="modal-body bg-success">
                <p>@TempData["success"]<span class="fa fa-smile-o fa-fw"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Error!</strong>
            </div>
            <div class="modal-body bg-danger">
                <p>Oh no... Something went wrong. Try again! <span class="fa fa-frown-o fa-fw"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Success != null)
    {
        <div id="success"></div>
    }
    else if (ViewBag.Error != null)
    {
        <div id="error"></div>
    }
}

@section script{
    <script>
        if(document.getElementById("success")){
            $("#successModal").modal("show");
        }
        if(document.getElementById("error")){
            $("#errorModal").modal("show");
        }
    </script>
}
