@model EcoTrend_Industry_Project.ViewModels.SupplierAndSalesRepVM

@{
    ViewBag.Title = "Reset Password Area";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<h2>@ViewBag.Title</h2>
<hr />
<table id="table_id" class="display cell-border">
    <thead>
        <tr>
            @foreach (EcoTrend_Industry_Project.ViewModels.PasswordResetVM item in Model.SalesRepsPasswordReset)
            {
                <th>
                    @Html.DisplayNameFor(model => item.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.UserRole)
                </th>
                <th>
                    @Html.DisplayNameFor(model => item.LockoutStatus)
                </th>
                <th style="text-align: center;">
                    @Html.DisplayNameFor(model => item.AccessFailedCount)
                </th>
                <th></th>
                break;
            }
        </tr>
    </thead>
    <tbody>
        @foreach (EcoTrend_Industry_Project.ViewModels.PasswordResetVM item in Model.SalesRepsPasswordReset)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRole)
                </td>
                @if (item.LockoutStatus != null)
                {
                    @Html.Raw("<td style='color:red;'>Disabled</td>");
                }
                else
                {
                    @Html.Raw("<td style='color:green;'>Enabled</td>");
                }
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    <a href="../Admin/ResetPasswordByEmail?email=@Html.DisplayFor(modelItem => item.Email)">Reset Password <span class="glyphicon glyphicon-refresh" title="Reset Password"></span></a>
                </td>
            </tr>
        }


        @foreach (EcoTrend_Industry_Project.ViewModels.PasswordResetVM item in Model.SuppliersPasswordReset)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserRole)
                </td>
                @if (item.LockoutStatus != null)
                {
                    @Html.Raw("<td style='color:red;'>Disabled</td>");
                }
                else
                {
                    @Html.Raw("<td style='color:green;'>Enabled</td>");
                }
                <td style="text-align: center;">
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
                <td>
                    <a href="../Admin/ResetPasswordByEmail?email=@Html.DisplayFor(modelItem => item.Email)">Reset Password <span class="glyphicon glyphicon-refresh" title="Reset Password"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Success!</strong>
            </div>
            <div class="modal-body bg-success">
                <p>@TempData["success"] <span class="fa fa-smile-o fa-fw"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>Error!</strong>
            </div>
            <div class="modal-body bg-danger">
                <p>Oh no... Something went wrong. Try again! <span class="fa fa-frown-o fa-fw"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@{
    if (TempData["success"] != null)
    {
        <div id="success"></div>
    }
    else if (ViewBag.Error != null)
    {
        <div id="error"></div>
    }
}

@section script{
    <script>
        if(document.getElementById("success")){
            $("#successModal").modal("show");
        }
        if(document.getElementById("error")){
            $("#errorModal").modal("show");
        }
    </script>
}
