@{
    var layoutModel = (EcoTrend_Industry_Project.Models.BaseViewModel)ViewBag.Model;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin | @ViewBag.Title</title>

    <link href="~/Content/parsley.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    <link href="~/Content/metisMenu.min.css" rel="stylesheet" />
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/columnSorter.css" rel="stylesheet" media="print, project, screen"/>
    <link href="~/Content/salesrep.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @RenderSection("style", required: false)

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Ecotrend Administrator</span>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="glyphicon glyphicon-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-account">
                        <li>
                            <a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out fa-fw"></i> Log out</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->

            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Sales Representatives<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("ListSalesReps", "Admin")">
                                        <span class="glyphicon glyphicon-eye-open fa-fw"></span>
                                        View
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LockoutSalesRep", "Admin")">
                                        <span class="fa fa-lock fa-fw"></span>
                                        Lock
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Contacts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("ContactManagement", "Admin")">
                                        <span class="glyphicon glyphicon-eye-open fa-fw"></span>
                                        View
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("CreateContact", "Admin")">
                                        <span class="glyphicon glyphicon-plus fa-fw"></span>
                                        Add
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Logs", "Admin")">
                                        <span class="fa fa-sticky-note fa-fw"></span>
                                        Notes
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Suppliers<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("ListSuppliers", "Admin")">
                                        <span class="glyphicon glyphicon-eye-open fa-fw"></span>
                                        View
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("LockoutSupplier", "Admin")">
                                        <span class="fa fa-lock fa-fw"></span>
                                        Lock
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("GetAllFlyers", "Admin")">
                                        <span class="glyphicon glyphicon-envelope fa-fw"></span>
                                        Flyers
                                        <span class="pull-right">
                                            <b>
                                                @{
                                                    if (!(layoutModel.Count == 0))
                                                    {
                                                        <span class="badge">@Html.Raw(layoutModel.Count)</span>
                                                    }
                                                }
                                            </b>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Accounts<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="@Url.Action("Register", "Account")">
                                        <span class="fa fa-user-plus fa-fw"></span>
                                        Create Account
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("ResetPassword", "Admin")">
                                        <span class="fa fa-refresh fa-fw"></span>
                                        Reset Password
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row"></div>
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    
    <script src="~/scripts/jquery-2.2.3.min.js"></script>
    <script src="~/scripts/parsley.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/metisMenu.min.js"></script>
    <script src="~/scripts/sb-admin-2.js"></script>
    <script src="~/scripts/dataTables.min.js"></script>
    <script src="~/scripts/jquery.tablesorter.min.js"></script>
    <script>
        $(function () {
            $(".btn").click(function () {
                $(this).button().delay(180000).queue(function () {
                    $(this).button('reset');
                    $(this).dequeue();
                });
            });
        });
        $('[data-toggle="popover"]').popover();
        $('#table_id').DataTable();
        $('#table_sorter').tablesorter();
    </script>
    @RenderSection("script", required: false)
</body>

</html>